<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>40830763649-m5gv0o8864er9jc5b2dctf496dl9c7ac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40830763649-m5gv0o8864er9jc5b2dctf496dl9c7ac</string>
	<key>API_KEY</key>
	<string>AIzaSyA_XBTJt7gu0HiqtJUPMCTs9XPcp_72RMk</string>
	<key>GCM_SENDER_ID</key>
	<string>40830763649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tonynotfound.stronger</string>
	<key>PROJECT_ID</key>
	<string>stronger-386d9</string>
	<key>STORAGE_BUCKET</key>
	<string>stronger-386d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40830763649:ios:92c969ea6424896c</string>
	<key>DATABASE_URL</key>
	<string>https://stronger-386d9.firebaseio.com</string>
</dict>
</plist>